body {
  background-color: #2d3d50;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: unset;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

img {
  display: block;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  width: 100px;
  height: 100px;
  display: inline-block;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  background: #109bce;
  background-image: linear-gradient(bottom, rgb(14, 137, 182) 0%, rgb(22, 179, 236) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
  outline: none;
}

button:active,
button.active {
  top: 3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}